.hgj-container {
  width: 100%;
  height: 100%;
  article {
    overflow: auto;
    background: #f3f3f3;
  }
}


.planbox {
  background: white;
  border-radius: 0.1rem;
  padding:0.2rem 0.15rem;
  position: relative;
  height:3.2rem;
  header {
    padding-bottom: 0.05rem;
    .myicon {
      margin-right: 0.11rem;
    }
    .title {
      h2 {
        font-size: 0.19rem;
      }
      p {
        font-size: 0.14rem;
        color: #a4a4a4;
      }
    }
  }

  .liner {
    width: 100%;
    height: 1px;
    margin: 0.15rem 0;
    border:1px dashed #d3d3d3;
    transform: scaleY(.5);
  }
  .planbox-content {

    .noplan-text{
      font-size: 0.14rem;
      text-align: center;
      color: #a4a4a4;
      line-height: 1;
      margin-top: 0.6rem;
    }
    .msg {
      color: #383838;
      font-size: 0.14rem;
      line-height: 1;
      vertical-align: bottom;
      .total {
        font-size: 0.28rem;
        line-height: 1;
      }
    }
    .red {
      color: #f84c4b;
    }
  }
  .footer {
    position:absolute;
    bottom:0.3rem;
    .plan-bttn{
      width:3.04rem;
    }
    // padding-top: 0.45rem;
  }
}

/* enviroment */
.bg-green {
  background-image: -webkit-linear-gradient(left, #9BD961, #538F67);
  background-image: -o-linear-gradient(left, #9BD961, #538F67);
  background-image: linear-gradient(to right, #9BD961, #538F67);
}

.bg-blue {
  background-image: -webkit-linear-gradient(left, #64a6f8, #6767e8);
  background-image: -o-linear-gradient(left, #64a6f8, #6767e8);
  background-image: linear-gradient(to right, #64a6f8, #6767e8);
}
.bg-lightblue {
  background-image: -webkit-linear-gradient(left, #6bbff5, #5182f1);
  background-image: -o-linear-gradient(left, #6bbff5, #5182f1);
  background-image: linear-gradient(to right, #6bbff5, #5182f1);
}
.bg-purple {
  background-image: -webkit-linear-gradient(left, #e06bf5, #af51f1);
  background-image: -o-linear-gradient(left, #e06bf5, #af51f1);
  background-image: linear-gradient(to right, #e06bf5, #af51f1);
}
.bg-orange {
  background-image: -webkit-linear-gradient(left, #f5b96b, #f17e51);
  background-image: -o-linear-gradient(left, #f5b96b, #f17e51);
  background-image: linear-gradient(to right, #f5b96b, #f17e51);
}
.bg-red {
  background-image: -webkit-linear-gradient(left, #f1518d, #f15151);
  background-image: -o-linear-gradient(left, #f1518d, #f15151);
  background-image: linear-gradient(to right, #f1518d, #f15151);
}