@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?g7c0vf');
  src:  url('/static/fonts/icomoon.eot?g7c0vf#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?g7c0vf') format('truetype'),
    url('/static/fonts/icomoon.woff?g7c0vf') format('woff'),
    url('/static/fonts/icomoon.svg?g7c0vf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e97f";
}
.icon-edit:before {
  content: "\e925";
}
.icon-book:before {
  content: "\e923";
}
.icon-record:before {
  content: "\e924";
}
.icon-survey:before {
  content: "\e91f";
}
.icon-active:before {
  content: "\e920";
}
.icon-trash:before {
  content: "\e91e";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-success:before {
  content: "\e908";
  color: #5ebfb7;
}
.icon-message:before {
  content: "\e909";
}
.icon-qrcode:before {
  content: "\e90a";
}
.icon-back:before {
  content: "\e90b";
}
.icon-hide:before {
  content: "\e921";
}
.icon-show:before {
  content: "\e922";
}
.icon-go:before {
  content: "\e91d";
}
.icon-share:before {
  content: "\e90c";
}
.icon-wallet:before {
  content: "\e90d";
}
.icon-aboutus:before {
  content: "\e90e";
}
.icon-rank:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-date:before {
  content: "\e911";
}
.icon-cricle-yuan:before {
  content: "\e912";
}
.icon-contact:before {
  content: "\e913";
}
.icon-link:before {
  content: "\e914";
}
.icon-yuan:before {
  content: "\e915";
}
.icon-person:before {
  content: "\e916";
}
.icon-wechat:before {
  content: "\e917";
}
.icon-question:before {
  content: "\e918";
}
.icon-creditcard:before {
  content: "\e919";
}
.icon-bankcard:before {
  content: "\e91a";
}
.icon-money:before {
  content: "\e91b";
}
.icon-qq:before {
  content: "\e91c";
}
.icon-plan:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-password:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-down:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e905";
}
.icon-safe:before {
  content: "\e906";
}
.icon-account:before {
  content: "\e907";
}
.icon-truck:before {
  content: "\e9b0";
}
