.test{
  width:1rem;
  height:1rem;
  background: #ccc;
  display: flex;
}
$placeholderColor:#ccc;

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    $placeholderColor;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    $placeholderColor;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    $placeholderColor;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    $placeholderColor;
}